<!-- employee list section start -->
<section class="employee-list">
    <!-- start employee header -->
    <header class="employee-header">
        <h4 class="tableTitle">Employee</h4>
        <!-- search-and-addbtn-block start -->
        <div class="search-and-addbtn-block">
            <!-- search-block -->
            <div class="search-block">
                <i class="fa-solid fa-magnifying-glass search-icon"></i>
                <input type="text" class="search-box" placeholder="Search" [(ngModel)]="search">
            </div>
            <!-- add employee button -->
            <button class="addbtn" routerLink="/employeeform" routerLinkActive="router-link-active">Add
                Employee</button>
        </div>
        <!-- search-and-addbtn-block end -->
    </header>
    <!-- end employee header -->
    <div class="table-container">
        <table class="table">
            <thead>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Department</th>
                    <th>Address</th>
                    <th>Contact Number</th>
                    <th>Description</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of employee | filter:search ">
                    <td>{{data.firstname}}</td>
                    <td>{{data.lastname}}</td>
                    <td class="emailDecoration">{{data.email}}</td>
                    <td>{{data.department}}</td>
                    <td>{{data.address}}</td>
                    <td>{{data.contactnumber}}</td>
                    <td>{{data.description | ellipsis}}</td>
                    <td [ngClass]="{greenText: data.status === 'Active',redText: data.status === 'In Active'}">
                        {{data.status}}</td>
                    <td>
                        <div class="action-btn-block">
                            <i class="fa-regular fa-pen-to-square action-btn edit-icon" title="Edit"
                                routerLink="/employeeupdate/{{data.id}}" routerLinkActive="router-link-active"></i>
                            <i class="fa-regular fa-trash-can action-btn delete-icon" (click)="delete(data.id)"
                                title="Delete"></i>
                        </div>

                    </td>

                </tr>
<tr  *ngIf="(employee | filter: search).length === 0">
    <td colspan="9" class="text-center">No data found</td>
</tr>
            </tbody>
 
        </table>

    </div>
</section>
<!-- employee list section end -->