<!-- header start -->
<header class="header">
    <!-- navbar start -->
    <nav class="navbar">
        <div class="brand-block">
            <span class="brand-title">Brand Logo</span>
        </div>
         <div class="select-user">
            <span class="name-icon">LA</span>
            <select name="user" id="user">
                <option value="Luis Allen" selected disabled>Luis Allen</option>
            </select>
         </div>
    </nav>
    <!-- navbar end -->
</header>
<!-- header end -->